<form action="{% url 'register' %}" method="POST">
{% csrf_token %}
    
    <div>
        <label for="email">email</label>
        <input type="email" name='email' required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name='password' required>
    </div>
    <select name="account_type">
        <option value="customer">Customer</option>
        <option value="restaurant">Restaurant<option>
      </select>

    <input type="submit" value="Login">
</form>