<div>
    {% if contents %}
        {% for cont in contents %}
            <p>
                {{ cont.order_no }}
                {{ cont.cust_id }}
                {{ cont.item }}
                {{ cont.price }}
                Order {{ cont.status }}
            </p>
            {% if cont.status == "Placed" %}
                <form action="{% url 'order' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value='{{ cont.order_no }}' name="order_no">
                    <input type="submit" value="Accept">
                </form>
            {% endif %}
        {% endfor %}
    {% else %}
            <p>No orders yet</p>
    {% endif %}
</div>
<a href="{% url 'restaddress' %}">Address </a>
<a href="{% url 'restindex' %}">Menu</a>
