<div>
    {% if contents %}
        {% for cont in contents %}
            <a href="{% url 'customer_order' cont.order_no %}"> <p>
                {{ cont.order_no }}
                {{ cont.cust_id }}
                {{ cont.item }}
                {{ cont.price }}
                Order {{ cont.status }}
            </p></a>
            
        {% endfor %}
    {% else %}
            <p>No orders yet</p>
    {% endif %}
</div>
<a href="{% url 'restaddress' %}">Address </a>
<a href="{% url 'restindex' %}">Menu</a>
